@font-face{
	font-family: custom;
	src: url("../font.eot");
    src: url("../font.eot?#iefix")format("embedded-opentype"),
    url("../font.woff") format("woff"),
    url("../font.ttf") format("truetype");
}

body, html{
    margin: 0;
    padding: 0;
    font: normal 13px custom;
	color: #5a5a5a;
    /*color: rgb(150,150,150);*/
}

.container{
    width: 230px;
    margin: 0;
    padding: 0;
}

.logo{
    margin: 0 auto;
    width: 230px;
    height: 120px;
    background: url("tg-logo.png") no-repeat center;
    background-size: 50%;
}

.info{
    margin: 2px 10px 0 10px;
    padding: 0 5px 0 5px;
}

.enum{
    padding: 2px 5px 2px 5px;
}

.odd{
	/*
    background: rgba(30,30,30,0.9);
	background: -moz-linear-gradient(top, rgba(30,30,30,0.8) 0%, rgba(30,30,30,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,30,30,0.8)), color-stop(100%,rgba(30,30,30,0.9)));
	background: -webkit-linear-gradient(top, rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.9) 100%);
	background: -o-linear-gradient(top, rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.9) 100%);
	background: linear-gradient(to bottom, rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.9) 100%);
	*/
	background: rgba(255,174,32,0.9);
	background: -moz-linear-gradient(top, rgba(255,174,32,0.8) 0%, rgba(255,174,32,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,174,32,0.8)), color-stop(100%,rgba(255,174,32,0.9)));
	background: -webkit-linear-gradient(top, rgba(255,174,32,0.8) 0%,rgba255,174,32,0.9) 100%);
	background: -o-linear-gradient(top, rgba(255,174,32,0.8) 0%,rgba(255,174,32,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(255,174,32,0.8) 0%,rgba(255,174,32,0.9) 100%);
	background: linear-gradient(to bottom, rgba(31,65,122,0.9) 0%,rgba(31,65,122,1.0) 100%);
	/*border: 1px solid #151515;*/
	border: 1px solid rgba(30,30,30,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0px 1px 5px, inset rgba(255,255,255,0.12) 0px 1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0px 1px 5px, inset rgba(255,255,255,0.12) 0px 1px 0px;
	box-shadow: rgba(0,0,0,0.5) 0px 1px 5px, inset rgba(255,255,255,0.2) 0px 1px 0px;
    color: #fff;
}

.on{
	color: #52e212;
    /*color: rgb(255, 221, 53);*/
    text-shadow: 0px 0px 1px #52e212;
}

.off{
    color: #f10101;
	text-shadow: 0px 0px 1px #f10101;
}